<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>Single page product</h1>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" ng-src="{{vm.ProductItem.image}}">
        <h2 class="featurette-heading">{{vm.ProductItem.title}}</h2>
        <p class="lead">{{vm.ProductItem.text}}</p>
    </div>
    <hr class="featurette-divider">

    <button class="btn btn-primary" ng-click="vm.getReviews(vm.ProductItem.idProduct)">Show Reviews</button>
    <div class="alert alert-warning" ng-show="vm.showWarning" >Oops =\ this product has no reviews yet =)</div>

    <blockquote ng-repeat="review in vm.ReviewArray">
        <h3>{{review.id_user.name}} <span class="label label-default">{{review.id_user.email}}</span></h3>
        <p>{{review.text}}</p>
        <uib-rating ng-model="review.rate" max="5" data-readonly="true" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" ></uib-rating> <b>(<i>Rate:</i> {{review.rate}})</b>
    </blockquote>

    <form ng-if="vm.ReviewArray && vm.Auth.isLoggedIn() && !vm.hasReview" id="reviewForm" name="form" ng-submit="vm.createReview(form, vm.ProductItem.idProduct)" novalidate>
        <div class="form-group">
            <uib-rating ng-init="vm.rating = 0" ng-model="vm.rating" max="5" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{vm.rating}})</b>
        </div>

        <div class="form-group">
            <label>Review</label>
            <textarea id="reviewText" class="form-control" name="review" placeholder="Write your review, Pls =)" required ng-model="vm.review"></textarea>
        </div>
        <div class="form-group has-error">
            <p class="help-block" ng-show="form.review.$error.required && vm.submitted">
                Please enter review text.
            </p>

        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>